.navbar{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #0b0b0b;
}
.nav-link{
  color: #fff;
}
.nav-link:hover {
  color: #ff0000;
}
.form-info, .form-input{
  display: block;
}